<!doctype html>
<html>
	<head>
		<title>todo.html</title>
	</head>

	<body>
	  	<h1>{{title}}</h1>
			<p>{{message}}</p>

			<p><a href="/home">HOME</a></p>

			<p><a href="/history">HISTORY</a></p>

			<p><a href="/recommend">RECOMMEND</a></p>

			<h2>{{poststr}}</h2>
      <table border="1">
    	  <cfoutput query="gdb">
    	  <tr>
    		  <th>App</th>
    		  <th>Category</th>
    		  <th>Rating</th>
    		  <th>Review</th>
    		  <th>Install</th>
    		  <th>Type</th>
    		  <th>Price</th>
    		  <th>Content_Rating</th>
    		  <th>Genres</th>
    		  <th>Size</th>
    	  </tr>
        {% for tuple in data %}
        <tr>
          <td>{{tuple[1]}}</td>
          <td>{{tuple[2]}}</td>
          <td>{{tuple[3]}}</td>
          <td>{{tuple[4]}}</td>
          <td>{{tuple[5]}}</td>
          <td>{{tuple[6]}}</td>
          <td>{{tuple[7]}}</td>
          <td>{{tuple[8]}}</td>
          <td>{{tuple[9]}}</td>
          <td>{{tuple[10]}}</td>
        </tr>
    	  {% endfor %}
      </table>

      <p>Recommend!</p>

			<table border="2">
    	  <cfoutput query="gdb">
    	  <tr>
					<th>detail</th>
    		  <th>App</th>
    		  <th>Category</th>
    		  <th>Rating</th>
    		  <th>Install</th>
    		  <th>Type</th>
    		  <th>Price</th>
    		  <th>Content_Rating</th>
    		  <th>Genres</th>
    	  </tr>
        {% for tuple in data2 %}
        <tr>
					<td>
					<form action="/ToApp" method="POST">
						<button name="Appdata" value="{{tuple[0]}}" type="submit">detail</button>
					</td>
					<td>{{tuple[1]}}</td>
          <td>{{tuple[2]}}</td>
          <td>{{tuple[3]}}</td>
          <td>{{tuple[5]}}</td>
          <td>{{tuple[6]}}</td>
          <td>{{tuple[7]}}</td>
          <td>{{tuple[8]}}</td>
          <td>{{tuple[9]}}</td>
        </tr>
    	  {% endfor %}
      </table>


	</body>
</html>
